In [33]:
from selenium import webdriver
import pandas as pd 
import time
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import requests

# Part 1 Browser automation with selenium

In [41]:

driver = webdriver.Chrome(executable_path="D:\software\Anaconda\chromedriver.exe")
url='https://imdb.com'
driver.get(url)
# maximize window
driver.maximize_window()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\3592905604.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="D:\software\Anaconda\chromedriver.exe")

In [42]:
dropdown = driver.find_element_by_class_name('ipc-icon--arrow-drop-down')
dropdown.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\2981809531.py:1: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  dropdown = driver.find_element_by_class_name('ipc-icon--arrow-drop-down')

In [43]:
# advanced search from dropdown menu,这个代码如果和上一个代码放在一起，这一步一定要import time,不然太快了，会报错，
#选完drop down 等一秒（import time),time.sleep(1)，在选取advanced title 
time.sleep(1)
element = driver.find_element_by_link_text('Advanced Search')
element.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\4212243644.py:4: DeprecationWarning: find_element_by_link_text is deprecated. Please use find_element(by=By.LINK_TEXT, value=link_text) instead
  element = driver.find_element_by_link_text('Advanced Search')

In [44]:
# click on advanced title search,Advanced Title Search 是一个带link的text

adv_title = driver.find_element_by_link_text('Advanced Title Search')
adv_title.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\310078246.py:3: DeprecationWarning: find_element_by_link_text is deprecated. Please use find_element(by=By.LINK_TEXT, value=link_text) instead
  adv_title = driver.find_element_by_link_text('Advanced Title Search')

In [45]:
# select feature film，选择电影的Title Type---feature film
feature_film = driver.find_element_by_id('title_type-1')
feature_film.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\1874716848.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  feature_film = driver.find_element_by_id('title_type-1')

In [46]:
# select tv movie,选择电影的Title Type---tv movie
tv_movie = driver.find_element_by_id('title_type-2')
tv_movie.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\2678847073.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  tv_movie = driver.find_element_by_id('title_type-2')

In [47]:
# min date,在release date 那里更改，先选中，点击，然后输入release date最小值
min_date = driver.find_element_by_name('release_date-min')
min_date.click()
min_date.send_keys('1990')

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\4090232105.py:2: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  min_date = driver.find_element_by_name('release_date-min')

In [48]:
# max date
max_date = driver.find_element_by_name('release_date-max')
max_date.click()
max_date.send_keys('2020')

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\3904706428.py:2: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  max_date = driver.find_element_by_name('release_date-max')

In [49]:
# rating min,由于要用select 所以要from selenium.webdriver.support.ui import Select
rating_min = driver.find_element_by_name('user_rating-min')
#这个dropdown需要点击一下，才能select 记住有的不需要点的，根据具体情况分析
rating_min.click()
#选中dropdown-rating_min
dropdown_2 = Select(rating_min)
#选择dropdown下看的见的Text
dropdown_2.select_by_visible_text('1.0')

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\3571017824.py:2: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  rating_min = driver.find_element_by_name('user_rating-min')

In [50]:
# rating max
rating_max = driver.find_element_by_name('user_rating-max')
rating_max.click()
dropdown_3 = Select(rating_max)
dropdown_3.select_by_visible_text('10')

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\2457987728.py:2: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  rating_max = driver.find_element_by_name('user_rating-max')

In [51]:
# oscar nominated，找element 时候是找echeckbox那个方块对应的id
oscar_nominated = driver.find_element_by_id('groups-7')
oscar_nominated.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\746527289.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  oscar_nominated = driver.find_element_by_id('groups-7')

In [52]:
# color
color = driver.find_element_by_id('colors-1')
color.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\675578076.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  color = driver.find_element_by_id('colors-1')

In [53]:
# language
language = driver.find_element_by_name('languages')
dropdown_4 = Select(language)
dropdown_4.select_by_visible_text('English')

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\3092683708.py:2: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  language = driver.find_element_by_name('languages')

In [54]:
# 250 results
results_count = driver.find_element_by_id('search-count')
dropdown_5 = Select(results_count)
#250在第三个
dropdown_5.select_by_index(2)

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\3821711576.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  results_count = driver.find_element_by_id('search-count')

In [55]:
# submit,ctrl+f 在chrome游览器，搜索：//button[@type="submit"]，一共搜索到两个button，所以index is 2,别忘记前面加(),然后再次尝试
#搜索(//button[@type="submit"])[2]，看下结果是不是唯一，一定要结果是唯一
submit = driver.find_element_by_xpath('(//button[@type="submit"])[2]')
submit.click()

C:\Users\XIAOJIN LI\AppData\Local\Temp\ipykernel_7376\741219577.py:3: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  submit = driver.find_element_by_xpath('(//button[@type="submit"])[2]')

In [56]:
# current
current_url = driver.current_url

In [57]:
# get request
response = requests.get(current_url)
#status code
response.status_code

200

In [58]:
# soup object
soup = BeautifulSoup(response.content, 'html.parser')

In [59]:
# result items (starting point),选中整个想记录的数据
list_items = soup.find_all('div', {'class':'lister-item'})

In [ ]:
# list comprehension
movie_title = [result.find('h3').find('a').get_text() for result in list_items]
year = [result.find('h3').find('span', {'class':'lister-item-year'}).get_text().replace('(', '').replace(')', '') for result in list_items]
duration = [result.find('span', {'class':'runtime'}).get_text() for result in list_items]
genre = [result.find('span', {'class':'genre'}).get_text().strip() for result in list_items]
rating = [result.find('div', {'class':'ratings-imdb-rating'}).get_text().strip() for result in list_items]

In [ ]:
# create dataframe
imdb_df = pd.DataFrame({'Movie Title': movie_title, 'Year': year, 'Duration':duration,
                       'Genre': genre, 'Rating':rating})

# Part 2 - Data Extraction with Beautiful Soup

In [60]:
# get request
response = requests.get(current_url)

In [61]:
# soup object
soup = BeautifulSoup(response.content, 'html.parser')

In [62]:
# result items (starting point)
list_items = soup.find_all('div', {'class':'lister-item'})

In [63]:
#check 是否是250个记录
len(list_items)

250

# Data we need to extract
-movie title
-duration
-year
-genre
-rating

In [64]:
list_items[0].find('h3')

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0107290/">Jurassic Park</a>
<span class="lister-item-year text-muted unbold">(1993)</span>
</h3>

In [65]:
# movie title,Jurassic Park是第一个index，在h3 header下面的anchor tag a
list_items[0].find('h3').find('a').get_text()

'Jurassic Park'

In [35]:
#year 也在h3 header下面，span是our tag
list_items[0].find('h3').find('span', {'class':'lister-item-year'}).get_text().replace('(', '').replace(')', '')

'1993'

In [36]:
# duration
list_items[0].find('span', {'class':'runtime'}).get_text()

'127 min'

In [37]:
# genre，strip去除首位的乱七八糟的空格回车之类的东西
list_items[0].find('span', {'class':'genre'}).get_text().strip()

'Action, Adventure, Sci-Fi'

In [38]:
# rating，找8.2前面的class
list_items[0].find('div', {'class':'ratings-imdb-rating'}).get_text().strip()

'8.2'

In [72]:


# list comprehension
movie_title = [result.find('h3').find('a').get_text() for result in list_items]
year = [result.find('h3').find('span', {'class':'lister-item-year'}).get_text().replace('(', '').replace(')', '') for result in list_items]
duration = [result.find('span', {'class':'runtime'}).get_text() for result in list_items]
genre = [result.find('span', {'class':'genre'}).get_text().strip() for result in list_items]
rating = [result.find('div', {'class':'ratings-imdb-rating'}).get_text().strip() for result in list_items]

In [73]:
imdb_df = pd.DataFrame({'Movie Title': movie_title, 'Year': year, 'Duration':duration,
                       'Genre': genre, 'Rating':rating})

In [74]:
imdb_df

,Movie Title,Year,Duration,Genre,Rating
0,Jurassic Park,1993,127 min,"Action, Adventure, Sci-Fi",8.2
1,Once Upon a Time... In Hollywood,2019,161 min,"Comedy, Drama",7.6
2,The Shawshank Redemption,1994,142 min,Drama,9.3
3,Star Wars: Episode I - The Phantom Menace,1999,136 min,"Action, Adventure, Fantasy",6.5
4,Avengers: Endgame,2019,181 min,"Action, Adventure, Drama",8.4
...,...,...,...,...,...
245,Les Misérables,2012,158 min,"Drama, Musical, Romance",7.5
246,Margin Call,2011,107 min,"Drama, Thriller",7.1
247,Room,I 2015,118 min,"Drama, Thriller",8.1
248,American Hustle,2013,138 min,"Crime, Drama",7.2
249,Warrior,2011,140 min,"Action, Drama, Sport",8.2

In [ ]:
# output in excel
#imdb_df.to_excel('imdb_multiple_pages.xlsx', index=False)

# data cleaning

In [75]:
imdb_df['Duration']=imdb_df['Duration'].apply(lambda x:x.strip(" min"))

In [76]:
imdb_df

,Movie Title,Year,Duration,Genre,Rating
0,Jurassic Park,1993,127,"Action, Adventure, Sci-Fi",8.2
1,Once Upon a Time... In Hollywood,2019,161,"Comedy, Drama",7.6
2,The Shawshank Redemption,1994,142,Drama,9.3
3,Star Wars: Episode I - The Phantom Menace,1999,136,"Action, Adventure, Fantasy",6.5
4,Avengers: Endgame,2019,181,"Action, Adventure, Drama",8.4
...,...,...,...,...,...
245,Les Misérables,2012,158,"Drama, Musical, Romance",7.5
246,Margin Call,2011,107,"Drama, Thriller",7.1
247,Room,I 2015,118,"Drama, Thriller",8.1
248,American Hustle,2013,138,"Crime, Drama",7.2
249,Warrior,2011,140,"Action, Drama, Sport",8.2